body {
    height: 100%; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a.top-link {
    color:black;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}
a.top-link:hover {
    text-decoration: underline;
}
.top-right {
    float: right;
}
#sign-in-button {
    color: white;
    background-color: #1a73e8;
    border-color: transparent;
    border-radius: 10%;
    float: right;
}

#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#google-logo {
    width: 30%;
    object-fit: contain;
    margin: 0 auto;
}
#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchbar input {
    border: none;
}
#search-wrapper {
    position: flex;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 25px;
    width: 60%;
}
#search-wrapper:hover {
    border: 2px solid rgb(233, 233, 233);
}
.search-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-color: transparent;
    margin: 10px;
    padding: 10px;
}
footer {
    display: flexbox;
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    bottom: 0;
}

a.footer-link {
    color: #70757a;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    float: left;
}
.bottom-right {
    float: right;
}
a.footer-link:hover {
    text-decoration: underline;
}
