
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
a.top-link {
    color:black;
    text-decoration: none;
    font-size: 11pt;
}
.topbar {
    position: absolute;
    top: 1%;
    width: 100%;
}
a.top-link:hover {
    text-decoration: underline;
}
.top-left {
    float: left;
}
.top-right {
    float: right;
}
#apps-id {
    position: relative;
    top: 5px;

}
#sign-in-button {
    color: white;
    background-color: #1a73e8;
    border-color: transparent;
    border-radius: 1%;
    padding: 5px;
}
#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#google-logo {
    object-fit: contain;
    margin: 0 auto;
}

#search-and-buttons {
    text-align: center;
}
#search-wrapper {
    max-width:40%;
    text-align:center;
	margin:0 auto;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px;
    height: 40px;
}
#search-icon {
    float: left;
    margin-top: 8px;
    margin-left: 5px;
}
#mic-icon {
    float: right;
    margin-top: 8px;
    margin-right: 5px;
    height: 22px;
}
input {
    text-align:left;
	margin:0 auto;
    width: 80%;
    height: 30px;
    border: 1px solid transparent;
}
.search-buttons {
    padding: 10px;
    margin: 10px;
}
button {
    padding: 10px;
    margin: 5px;
    border: transparent;
    color: rgb(43, 43, 43);
}
footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

a.footer-link {
    color: #70757a;
    text-decoration: none;
}
.bottom-left {
    float: left;
}
.bottom-right {
    float: right;
}
a.footer-link:hover {
    text-decoration: underline;
}
