body {
    height: 100%;
    display:flex; 
  flex-direction:column; 
}
a.top-link {
    color:black;
    text-decoration: none;
}
.top-left {
    color: black; 
    position: relative;
    padding: 5px;
    margin: 0 5px;
}
.top-right {
    position: fixed;
    padding: 5px;
    right: 5px;
    top: 5px;
}
#sign-in-button {
    color: white;
    background-color: #1a73e8;
    border-color: transparent;
    border-radius: 10%;
}
#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#google-logo {
    width: 30%;
    object-fit: contain;
    margin: 0 auto;
}
#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchbar input {
    width: 50%;
}
.search-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
clear: both;
    position: relative;
    height: 25px;
    margin-top:auto;
    background-color: #f2f2f2;
   
}
a.footer-link {
    color: #70757a;
}

.google-logo {
    width: 40%;

    
}